<h2>Welcome</h2>
<p>Welcome to cerita-cerita 1.0</p>
<p>Please post your cerita of your life</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left" aria-hidden="true"></i>Login With Google</a>
{{/if}}